<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
</head>

<body>
    <form action="/update" method="post">
        Email: <input type="text" name="email" value="<%= data.email %>" readonly> <br><br>
        New Password: <input type="password" name="pass" required> <br><br>
        <input type="submit" value="Update">
    </form>
    <form action="/delete" method="post" style="margin-top:10px;">
        <input type="hidden" name="email" value="<%= data.email %>">
        <input type="submit" value="Delete your account">
    </form>

    <p>
        <%= msg %>
    </p>
</body>

</html>